body {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-left {
    display: flex;
    align-items: center;
}

.menuimg {
    width: 24px;
    height: 24px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.logo img {
    width: 55px;
    height: 55px;
}

.text-logo h3, .text-logo h4 {
    margin: 0px;
    margin-left: 10px;
}

.text-logo h3 {
    font-weight: 600;
}

.text-logo h4 {
    font-weight: 200;
}

.search {
    display: flex;
    border: 1px solid #000;
}

.search input {
    width: 240px;
    height: 32px;
    padding-right: 1px solid #ccc;
}

.search button {
    width: 52px;
    font-weight: 700;
    border: none;
}